.App {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items-table {
  border: 1px solid black;
  width: clamp(500px, 100%, 900px);
}
.items-table__row {
  text-align: left;
}
.items-table__header {
  padding: 10px 5px;
  width: 50%;
  height: 100%;
}
.items-table__header:first-of-type {
  border-right: 1px solid black;
}
.items-table__item {
  padding: 10px 5px;
  border-top: 1px solid black;
  vertical-align: center;
}
.items-table__item:first-of-type {
  border-right: 1px solid black;
}
